[submodule "public/lib/angular-strap"]
	path = public/lib/angular-strap
	url = git://github.com/mgcrea/angular-strap.git
[submodule "public/lib/CodeMirror"]
	path = public/lib/CodeMirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "public/lib/tiny_mce/plugins/heading"]
	path = public/lib/tiny_mce/plugins/heading
	url = https://github.com/mertenvg/tinymce-heading-plugin.git
