<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-cloak>Ballhaus Naunynstraße - {{Page.title()}}</title>
    <link rel="stylesheet" href="/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="/css/MyFontsWebfontsKit.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <ul class="service-bar">
        <a href="/"><img id="logo" src="/img/header.png" width="992" height="83"/></a>
      </div>
      <div id="site-menu-street">
      </div>
      <div>
        <div id="main" ng-view>
          <h1>Veralteter Browser</h1>
          <p>
            Tut uns leid, die Website des Ballhaus Naunynstraße ist
            nur mit einem Browser mit HTML5-Unterstützung verwendbar.
            Geeignet sind aktuelle Versionen
            von <a href="http://www.mozilla.org/de/firefox/new/">Mozilla
            Firefox</a>, <a href="https://www.google.com/intl/de/chrome/browser/">Google
            Chrome
            und <a href="http://windows.microsoft.com/de-de/internet-explorer/download-ie">Microsoft
            Internet Explorer</a>.
          </p>
        </div>
        <div id="right">
          <div>
            <div>
              <form method="POST" class="form-inline newsletter-form" ng-controller="NewsletterController" ng-submit="subscribe()">
                <h2>Newsletter bestellen</h2>
                <div class="newsletter-controls">
                  <input ng-model="address" name="address" type="text" class="newsletter-address" type="email" placeholder="Email-Adresse" required>
                  <button type="submit" class="newsletter-submit ir">OK</button>
                  <p class="newsletter-success" ng-cloak ng-show="success">Newsletter abonniert!</p>
                </div>
              </form>
            </div>
            <div>
              <p>
                <a href="https://www.facebook.com/akademie.derautodidakten"><img src="/img/ada_logo.png" width="238" height="76"/></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
    </div>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script>
    <script src="/lib/ui-bootstrap-tpls-0.2.0.min.js"></script>
    <script src="/lib/bootstrap-dropdown.js"></script>
    <script src="/lib/angular-strap/dist/angular-strap.js"></script>
    <script src="/lib/angular-strap/vendor/bootstrap-datepicker.js"></script>
    <script src="/lib/angular-strap/vendor/bootstrap-timepicker.js"></script>
    <script src="/lib/moment.min.js"></script>
    <script src="/lib/moment.langs.min.js"></script>
    <script>moment.lang('de')</script>
    <script src="/lib/icebox.js"></script>
    <script src="/lib/super.min.js"></script>
    <script src="/js/utils.js"></script>
    <!-- <script src="/js/browser-error.js"></script> -->
  </body>
</html>
