<!doctype html>
<html lang="en" ng-app="cmsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS: Ballhaus Naunynstraße</title>
    <link rel="stylesheet" href="/css/fineuploader-3.3.0.css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.10.1.custom.min.css"/>
    <link rel="stylesheet" href="/css/angular-ui.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="/css/codemirror.css"/>
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="/css/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="/css/cms.css"/>
  </head>
  <body ng-controller="CmsController">

    <div id="spinner">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav" style="visibility: {{menuDisplay()}}">
              <menu-link to="home">CMS</menu-link>
              <menu-link to="homepage">Homepage</menu-link>
              <menu-link to="events" subs="event|enactment">Veranstaltungen</menu-link>
              <menu-link to="pieces" subs="piece">Stücke</menu-link>
              <menu-link to="people" subs="person">KünstlerInnen</menu-link>
              <menu-link to="pages" subs="page">Seiten</menu-link>
              <menu-link to="logos" subs="logos">Logos</menu-link>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#">Resourcen <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <menu-link to="videos">Videos</menu-link>
                  <menu-link to="tickets">Tickets</menu-link>
                  <menu-link to="flickr-sets">Flickr Sets</menu-link>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div id="logo">
        <img src="/img/bn_logo.gif" width="140" height="132"/>
      </div>
    </div>

    <div ng-view></div>

    <div id=version ng-cloak>Beta, Version: <span>{{db.version}}</span></div>

    <!-- In production use:
         <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
         -->
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="/lib/tiny_mce/jquery.tinymce.js"></script>
    <script src="/lib/tiny_mce/tiny_mce.js"></script>
    <script src="/lib/codemirror.js"></script>
    <script src="/lib/codemirror-xml-mode.js"></script>
    <script src="/lib/codemirror-javascript-mode.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/lib/angular-ui.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/ui-bootstrap-tpls-0.2.0.min.js"></script>
    <script src="/lib/bootstrap-dropdown.js"></script>
    <script src="/lib/angular-strap.js"></script>
    <script src="/lib/bootstrap-datepicker.js"></script>
    <script src="/lib/bootstrap-timepicker.js"></script>
    <script src="/lib/fineuploader-3.3.0.min.js"></script>
    <script src="/lib/moment-with-langs.min.js"></script>
    <script src="/lib/moment-timezone.min.js"></script>
    <script src="/lib/moment-timezone-data.js"></script>
    <script>moment.lang('de')</script>
    <script src="/lib/icebox.js"></script>
    <script src="/lib/super.min.js"></script>
    <script src="/lib/sha1.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/cms.js"></script>
    <script src="/js/db.js"></script>
  </body>
</html>
