/* The following rules courtesy of ryanfait.com
 * (http://stackoverflow.com/questions/7527152/div-with-dynamic-min-height-based-on-browser-window-height)
 * always make the main content area in the middle fill the full
 * browser window height.  */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
    margin-bottom: -0em;    /*Negates #push on longer pages*/
    width: 1024px;
    background-color: #fff;
    margin: auto;
}

#footer, #push {
    clear: both;
    height: 0em;
}

/*
 * Image replacement
 * See: https://github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * General overwrite for some Bootstrap styles
 */

input[type="text"], input[type="email"], input[type="submit"],
input[type="text"]:focus, input[type="email"]:focus,
input[type="text"]:invalid:focus, input[type="email"]:invalid:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: solid 1px;
    margin-bottom: 0;
    background-color: white;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    font-family: inherit;
    color: inherit;
}

/* Ballhaus rules */

a:link, a:visited, a:hover, a:active { color: black; text-decoration: none; }
a:hover { color: white; }
/*
a:hover * { color: white; background-color: black; }
*/

body {
    padding: 0;
    border: 0;
    margin: 0;
    font: 12px/1.6 Verdana, Geneva, sans-serif;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/img/background.jpg);
    background-color: #bcbcbc;
    border-top: 4px solid black;
}

a {
    color: #00B7FF;
}

h1 {
    margin: 10px 0;
    color: black;
}

.item-name, h1 {
    font-size: 18px;
    line-height: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

#main {
    width: 630px;
    float: left;
    margin: 47px 15px 45px 32px;
    padding: 0 20px;
}

#main a {
    color: black;
}

#main p a,
#main ul.plain-list a {
    color: #9c0033;
}

#right a:focus,
#right a:hover,
#right a:active,
#main a:focus,
#main a:hover,
#main a.active,
/* Tags need to get the message twice */
#main a:focus .item-tags,
#main a:hover .item-tags,
#main a:active .item-tags,
#main a.active {
    color: #eb0033;
}

/* Sidebar */

#right {
    width: 260px;
    float: right;
    margin-top: 47px;
    margin-right: 32px;
}

#right h2 {
    line-height: 1.2em;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

#right > div > div {
    margin: 0 0 25px 0;
    padding: 0 11px;
}

#right > .non-empty,
#right > div > div + div {
    padding-top: 25px;
    border-top: 2px solid black;
}

.sidebar-link-akademie {
    display: block;
    background-image: url(/img/ada_logo.png);
    height: 76px;
    width: 238px;
}

.newsletter-form {
    color: #5f5f5f;
}

.newsletter-controls {
    margin: 25px 0 27px 0;
}

input.newsletter-address {
    background-image: url(/img/newsletterfeld.png);
    width: 173px;
    height: 17px;
    border: none !important;
    padding: 4px 6px;
}

.newsletter-submit {
    float: right;
    border: 0;
    text-indent: -100px;
    overflow: hidden;
    width: 40px;
    height: 25px;
    background-image: url(/img/ok-inaktiv.png);
    color: transparent; /* for Firefox */
}

.newsletter-submit:active,
.newsletter-submit:hover,
.newsletter-submit:focus {
    background-image: url(/img/ok-aktiv.png);
}

.newsletter-success {
    margin: 4px 0 -23px;
    text-align: right;
}

/* Header */

#header {
    width: 1024px;
    height: 153px;
    position: relative;
}

.service-bar {
    margin: 0 32px;
    font-size: 0.75em;
    color: #666;
}

.service-bar > li {
    display: inline-block;
    border-right: 2px solid #666;
    padding: 18px 18px 0;
    vertical-align: top;
    height: 23px;
}

.service-bar-icon:hover,
.service-bar-icon:active,
.service-bar-icon:focus {
    color: black;
}

.service-bar > :first-child {
    padding-left: 9px;
}

.social-link-list {
    margin: 0;
    line-height: 0; /* Ugly hack */
}

.social-link-list > li {
    display: inline-block;
    padding-left: 20px;
}
.social-link-list > :first-child {
    padding-left: 0;
}

.service-bar-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.service-bar-icon-home {
    background-image: url(/img/service-bar/home-inaktiv.png);
}

.service-bar-icon-home:active,
.service-bar-icon-home:hover,
.service-bar-icon-home:focus {
    background-image: url(/img/service-bar/home-aktiv.png);
}

.service-bar-icon-fb {
    background-image: url(/img/service-bar/facebook-inaktiv.png);
}

.service-bar-icon-fb:active,
.service-bar-icon-fb:hover,
.service-bar-icon-fb:focus {
    background-image: url(/img/service-bar/facebook-aktiv.png);
}

.service-bar-icon-twitter {
    background-image: url(/img/service-bar/twitter-inaktiv.png);
}

.service-bar-icon-twitter:active,
.service-bar-icon-twitter:hover,
.service-bar-icon-twitter:focus {
    background-image: url(/img/service-bar/twitter-aktiv.png);
}

.service-bar-icon-vimeo {
    background-image: url(/img/service-bar/vimeo-inaktiv.png);
}

.service-bar-icon-vimeo:active,
.service-bar-icon-vimeo:hover,
.service-bar-icon-vimeo:focus {
    background-image: url(/img/service-bar/vimeo-aktiv.png);
}

.service-bar-english {
    background-image: url(/img/service-bar/english-inaktiv.png);
    display: block;
    width: 40px;
    height: 19px;
}

.service-bar-english:active,
.service-bar-english:hover,
.service-bar-english:focus {
    background-image: url(/img/service-bar/english-aktiv.png);
}

.service-bar-kontakt {
    background-image: url(/img/service-bar/kontakt-inaktiv.png);
    display: block;
    width: 64px;
    height: 19px;
}

.service-bar-kontakt:active,
.service-bar-kontakt:hover,
.service-bar-kontakt:focus {
    background-image: url(/img/service-bar/kontakt-aktiv.png);
}

.service-bar-impressum {
    background-image: url(/img/service-bar/impressum-inaktiv.png);
    display: block;
    width: 62px;
    height: 19px;
}

.service-bar-impressum:active,
.service-bar-impressum:hover,
.service-bar-impressum:focus {
    background-image: url(/img/service-bar/impressum-aktiv.png);
}

.search-form {
    line-height: 17px;
    font-size: 1em;
    font-weight: bold;
}

.search-button,
input.search-input {
    height: 19px;

    background-image: url(/img/service-bar/such-inaktiv.png);
    border-width: 0 !important;
}

input.search-input {
    width: 116px;
    padding: 0 4px;
}

.search-button {
    padding: 3px 4px 2px 4px;
    color: #666;
    border-color: #666;
    margin-left: 4px;

    background-position: -124px;
    width: 46px;
    background-repeat: no-repeat;
}

.search-button:active,
.search-button:hover,
.search-button:focus {
    background-color: #666;
    border-color: #666;
    color: white;

    background-image: url(/img/service-bar/such-aktiv.png);
}

#site-menu-street {
    width: 1024px;
    height: 116px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/img/ballh_header-strip.png);
    border-bottom: 2px solid black;
}

#site-menu {
    position: absolute;
    top: 81px;
    left: 32px;
    font-family: Cillop-Medium, Helvetica, Arial, sans-serif;
    z-index: 1000;
}

#site-menu > nav ul {
    list-style: none;
    margin: 0;
}

#site-menu > nav > ul > li {
    float: left;
}

#site-menu > nav li {
    vertical-align: top;
}

#site-menu > nav ul ul {
    display: none;
}

#site-menu > nav ul > li:hover > ul {
    display: block;
}

#site-menu > nav > ul > li > ul > li {
    margin-top: 1px;
}

#site-menu > nav > ul > li {
    margin-right: 5px;
}

.site-submenu-de-Programm {
    width: 143px;
}

.site-menuitem-de-Programm {
    background: url(/img/menu/programm-inaktiv.png);
    width: 143px;
    height: 37px;
    display: block;
}

.site-menuitem-de-Programm:hover,.site-menuitem-de-Programm:active,.site-menuitem-de-Programm:focus,.site-menuitem-de-Programm.active {
    background: url(/img/menu/programm-aktiv.png);
}

.site-menuitem-de-kuenstlerinnen {
    background: url(/img/menu/kuenstlerinnen-inaktiv.png);
    width: 189px;
    height: 37px;
    display: block;
}

.site-menuitem-de-kuenstlerinnen:hover,.site-menuitem-de-kuenstlerinnen:active,.site-menuitem-de-kuenstlerinnen:focus,.site-menuitem-de-kuenstlerinnen.active {
    background: url(/img/menu/kuenstlerinnen-aktiv.png);
}

.site-submenu-de-Haus {
    width: 91px;
}

.site-menuitem-de-Haus {
    background: url(/img/menu/haus-inaktiv.png);
    width: 91px;
    height: 37px;
    display: block;
}

.site-menuitem-de-Haus:hover,.site-menuitem-de-Haus:active,.site-menuitem-de-Haus:focus,.site-menuitem-de-Haus.active {
    background: url(/img/menu/haus-aktiv.png);
}

.site-menuitem-de-tickets {
    background: url(/img/menu/tickets-inaktiv.png);
    width: 116px;
    height: 37px;
    display: block;
}

.site-menuitem-de-tickets:hover,.site-menuitem-de-tickets:active,.site-menuitem-de-tickets:focus,.site-menuitem-de-tickets.active {
    background: url(/img/menu/tickets-aktiv.png);
}

.site-menuitem-de-Presse {
    background: url(/img/menu/presse-inaktiv.png);
    width: 110px;
    height: 37px;
    display: block;
}

.site-menuitem-de-Presse:hover,.site-menuitem-de-Presse:active,.site-menuitem-de-Presse:focus,.site-menuitem-de-Presse.active {
    background: url(/img/menu/presse-aktiv.png);
}

.site-menuitem-de-spielplan {
    background: url(/img/menu/spielplan-inaktiv.png);
    width: 139px;
    height: 42px;
    display: block;
}

.site-menuitem-de-spielplan:hover,.site-menuitem-de-spielplan:active,.site-menuitem-de-spielplan:focus {
    background: url(/img/menu/spielplan-aktiv.png);
}

.site-menuitem-de-repertoire {
    background: url(/img/menu/repertoire-inaktiv.png);
    width: 150px;
    height: 42px;
    display: block;
}

.site-menuitem-de-repertoire:hover,.site-menuitem-de-repertoire:active,.site-menuitem-de-repertoire:focus {
    background: url(/img/menu/repertoire-aktiv.png);
}

.site-menuitem-de-reihen {
    background: url(/img/menu/reihen-inaktiv.png);
    width: 106px;
    height: 42px;
    display: block;
}

.site-menuitem-de-reihen:hover,.site-menuitem-de-reihen:active,.site-menuitem-de-reihen:focus {
    background: url(/img/menu/reihen-aktiv.png);
}

.site-menuitem-de-archiv {
    background: url(/img/menu/archiv-inaktiv.png);
    width: 108px;
    height: 42px;
    display: block;
}

.site-menuitem-de-archiv:hover,.site-menuitem-de-archiv:active,.site-menuitem-de-archiv:focus {
    background: url(/img/menu/archiv-aktiv.png);
}

.site-menuitem-de-geschichte {
    background: url(/img/menu/geschichte-inaktiv.png);
    width: 155px;
    height: 42px;
    display: block;
}

.site-menuitem-de-geschichte:hover,.site-menuitem-de-geschichte:active,.site-menuitem-de-geschichte:focus {
    background: url(/img/menu/geschichte-aktiv.png);
}

.site-menuitem-de-team {
    background: url(/img/menu/team-inaktiv.png);
    width: 93px;
    height: 42px;
    display: block;
}

.site-menuitem-de-team:hover,.site-menuitem-de-team:active,.site-menuitem-de-team:focus {
    background: url(/img/menu/team-aktiv.png);
}

.site-menuitem-de-auszeichnungen {
    background: url(/img/menu/auszeichnungen-inaktiv.png);
    width: 208px;
    height: 42px;
    display: block;
}

.site-menuitem-de-auszeichnungen:hover,.site-menuitem-de-auszeichnungen:active,.site-menuitem-de-auszeichnungen:focus {
    background: url(/img/menu/auszeichnungen-aktiv.png);
}

.site-menuitem-de-postmigranten_on_tour {
    background: url(/img/menu/postmigranten_on_tour-inaktiv.png);
    width: 284px;
    height: 42px;
    display: block;
}

.site-menuitem-de-postmigranten_on_tour:hover,.site-menuitem-de-postmigranten_on_tour:active,.site-menuitem-de-postmigranten_on_tour:focus {
    background: url(/img/menu/postmigranten_on_tour-aktiv.png);
}

.site-menuitem-de-partner {
    background: url(/img/menu/partner-inaktiv.png);
    width: 127px;
    height: 42px;
    display: block;
}

.site-menuitem-de-partner:hover,.site-menuitem-de-partner:active,.site-menuitem-de-partner:focus {
    background: url(/img/menu/partner-aktiv.png);
}

.site-menuitem-de-pressemitteilungen {
    background: url(/img/menu/pressemitteilungen-inaktiv.png);
    width: 239px;
    height: 42px;
    display: block;
}

.site-menuitem-de-pressemitteilungen:hover,.site-menuitem-de-pressemitteilungen:active,.site-menuitem-de-pressemitteilungen:focus {
    background: url(/img/menu/pressemitteilungen-aktiv.png);
}

.site-menuitem-de-bildmaterial {
    background: url(/img/menu/bildmaterial-inaktiv.png);
    width: 169px;
    height: 42px;
    display: block;
}

.site-menuitem-de-bildmaterial:hover,.site-menuitem-de-bildmaterial:active,.site-menuitem-de-bildmaterial:focus {
    background: url(/img/menu/bildmaterial-aktiv.png);
}

#logo {
    position: absolute;
    left: 32px;
    bottom: 5px;
}

.media-browser {
    width: 630px;
    margin-bottom: 16px;
}

.media-browser .display {
    width: 100%;
    height: 400px;
}

.media-browser .display:not(.display-only-medium) {
    cursor: e-resize;
}

.media-browser .nav {
    height: 20px;
}

.media-browser ul {
    list-style: none;
    margin: 16px 0;
}

.media-browser li {
    display: inline-block;
    margin: 0 5px 0 0;
}

.media-browser ul li span {
    display: inline-block;
    width: 13px;
}

.media-browser .icon-video,
.media-browser .icon-picture {
    background-position: 0 0;
    height: 15px;
    width: 15px;
}

.media-browser .icon-video {
    background-image: url(/img/Video-inaktiv.png);
}

.media-browser .icon-video:active,
.media-browser .icon-video.active,
.media-browser .icon-video:hover,
.media-browser .icon-video:focus {
    background-image: url(/img/Video-aktiv.png);
}

.media-browser .icon-picture {
    background-image: url(/img/Foto-inaktiv.png);
}

.media-browser .icon-picture:active,
.media-browser .icon-picture.active,
.media-browser .icon-picture:hover,
.media-browser .icon-picture:focus {
    background-image: url(/img/Foto-aktiv.png);
}

#main .media-credit {
    font-size: 10px;
    line-height: 10px;
    margin-top: 6px;
}

/* General page content styles */

.page-title {
    margin-top: 0;
}

.page-title + .static-content,
.page-title + .simple-list {
    margin: 36px 0;
}

.hor-list, .big-list, .simple-list {
    list-style: none;
    margin: 0;
}

.hor-list {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.hor-list > li {
    display: inline-table;
    margin-right: 14px;
}

#main .muted {
    color: #5f5f5f;
}

.big-list {
    border-top: solid black 2px;
    margin: 0 -20px;
}

.big-list > li {
    display: block;
    margin: 0;
    padding: 16px 20px;
    border-bottom: solid black 2px;
    clear: both;
    font: 16px/24px Verdana, Geneva, sans-serif;
}

.item-tags {
    font-size: 16px;
    color: #5f5f5f;
    text-transform: uppercase;
}

.simple-list {
    font: 16px/20px Verdana, Geneva, sans-serif;
}

#main h2 {
    font: 16px/20px Verdana, Geneva, sans-serif;
    margin: 15px 0 12px 0;
}

.item-meta {
    font: 16px/26px Verdana, Geneva, sans-serif;
    margin-bottom: 26px;
    color: #1b1b1b;
}

.item-by p,
#right p,
#main p {
    margin: 0; /* The backend wraps everything in a paragraph */
}

.piece-details .item-by, .item-meta {
    line-height: 20px;
    margin-bottom: 21px;
}

.big-list .image-container {
    float: left;
    margin-right: 20px;
}

.big-list .image-container + .item-tags {
    margin-top: -6px;
}

.plain-list {
    list-style: none;
    margin-left: 0;
}

/* Spielplan */

.events .event {
    position: relative; /* For the ticket shop link */
}

.events .entry-link {
    position: absolute;
    right: -1px;
    height: 26px;
    width: 117px;
    display: block;
}

.events .entry-link-free {
    background-image: url(/img/eintrittfrei.png);
    top: -2px;
}

.events .entry-link-ticket {
    background-image: url(/img/ticket-inaktiv.png);
    top: -3px;
}

.events .entry-link-ticket:active,
.events .entry-link-ticket:focus,
.events .entry-link-ticket:hover {
    background-image: url(/img/ticket-aktiv.png);
}

.events .date {
    float: left;
    font-size: 16px;
    width: 125px;
}

.events .big-column {
    padding-left: 135px;
}

.events .item-name,
.events .item-by {
    line-height: 24px;
}

.big-list .item-name {
    font-size: 16px;
}

.big-list .item-tags {
     font-size: 15px;
}

.big-list .item-by {
    line-height: 21px;
    padding-top: 2px;
    font-size: 14px;
}

.hor-list-space {
    margin-top: 78px;
    line-height: 0px;
}

.hor-list-months {
    margin-right: -20px; /* let months hang out as a dirty FIX */
}

/* Repertoire */

.repertoire .piece .image-container {
    width: 176px;
    height: 112px;
}

.repertoire .piece {
    height: 112px;
}

/* Künstlerinnen */

.kuenstlerinnen .image-container {
    width: 120px;
    height: 80px;
}

.kuenstlerinnen > li {
    height: 80px;
}

.kuenstlerinnen-letters > li {
    margin-right: 11px;
}

/* Stück / Veranstaltung / Aufführung */
.piece-premiere {
    padding-top: 1em;

}

#right .piece-sidebar {
    padding: 0;
}

.piece-sidebar .participants-list {
    list-style: none;
    margin: 0 0 19px 0;
}

.piece-sidebar .participants-list li {
    line-height: 19px;
}

.piece-details .item-name-wrapper {
    margin: 10px 0;
}

.piece-details .item-name {
    display: inline;
    padding-right: 36px;
}

.piece-details .entry-link {
    display: inline-block;
    margin-bottom: -3px;
    width: 97px;
    height: 21px;
}

.piece-details .entry-link-free {
    display: none;
}

.piece-details .entry-link-ticket {
    background-image: url(/img/ticket-inaktiv-klein.png);
}

.piece-details .entry-link-ticket:hover,
.piece-details .entry-link-ticket:active,
.piece-details .entry-link-ticket:focus {
    background-image: url(/img/ticket-aktiv-klein.png);
}

/* Archive */

.filter-set {
    border: solid black;
    border-width: 0 0 2px 0;
    margin: 2px -20px;
    padding: 15px 20px;
}

.filter-set + .filter-set {
    border-top-width: 2px;
    padding-top: 22px;
}

.filter-set .hor-list {
    padding: 0 0 5px;
}

.filter-set .hor-list-subordinate {
    font-size: 13px;
    padding: 4px 0;
}

.filter-set .hor-list-subordinate > li {
    margin-right: 9px;
}

.filter-set .tag-selector {
    padding: 17px 0 9px 0;
}

.filter-set .filter-set-reset {
    float: right;
    background-image: url(/img/kreuz-schw.jpg);
    background-repeat: no-repeat;
    background-position: right 2px;
    padding-right: 30px;
    margin-right: -20px;
}

.filter-set .filter-reset-line-up-with-hor-list {
    line-height: 28px;
    background-position: right 7px;
}

.filter-set .filter-set-reset:active,
.filter-set .filter-set-reset:focus,
.filter-set .filter-set-reset:hover {
    background-image: url(/img/kreuz-aktiv.jpg);
}

.filter-set .filter-set-reset.muted {
    background-image: url(/img/kreuz-ausgebl.jpg);
}

.tag-selector {
    color: #000;
    margin: 0;
    text-transform: uppercase;
    line-height: 20px;
}

.filter-set .tag-selector > li {
    display: inline;
    margin: 0;
}

.tag-selector li:not(:last-child)::after {
    content: ' / ';
    padding: 0 0.1em;
}

#main .tag-selector .selected a {
    color: #eb0033;
}

#main .filter-set .muted {
    color: #cfd1d2;
    cursor: default;
}

/* Main page */
.homepage {
    margin: 0 -20px;
}

.column {
    float: left;
    width: 320px;
}

.column + .column {
    margin-left: 30px;
}

.box {
    padding-bottom: 24px;
    overflow: hidden;
}

.box > a {
    display: block;
}

.homepage > .box {
    border-bottom: solid black 2px;
}

.box + .box {
    border-top: solid black 2px;
}

.box + .box,
.column.with-head .box:first-child {
    padding-top: 24px;
}

.column:first-child .home-next-piece {
    padding-top: 0;
    border-top: solid black 2px;
}

.column.with-head :first-child.home-next-piece {
    padding-top: 0;
    margin-top: 24px;
    border-top: solid black 2px;
}

.home-next-piece-img-wrapper {
    min-height: 26px;
}

.home-next-piece-date {
    position: absolute;
    color: #FFF;
    padding: 6px 10px;
    font-size: 10px;
    line-height: 14px;
    background-color: #767676;
}

.home-next-piece-today {
    background-color: #eb0033;
}

.home-sidebar a {
    display: block;
    position: relative;
    color: black;
}

#right .home-sidebar .sidebar-box-wrapper:first-child {
    background-image: url(/img/marg-reiter.png);
    background-repeat: no-repeat;
    padding-top: 13px;
}

#right .home-sidebar .sidebar-box-wrapper:first-child .sidebar-box {
    border-top: 0;
    padding-top: 23px;
}

#right .home-sidebar .sidebar-box {
    border: #ff0031 3px solid;
    color: #ff0031;
    text-align: center;
    padding: 20px;
}

#main .homepage h2 {
    margin-top: 0;
}

#main .homepage img {
    margin-bottom: 15px;
}

#main .homepage h2,
#right .home-sidebar h2 {
    text-transform: uppercase;
}

#right .home-sidebar h2 {
    font-size: 16px;
}

#right .home-sidebar h2 + div {
    padding-top: 1em;
}

/* Artist page */

.artist-single {
    border-top: 2px solid black;
    margin: 0 -20px;
    padding: 16px 20px;
}

#main .artist-single h2 {
    margin: 26px 0 10px 0;
}

.artist-single .participations {
    margin-top: 1em;
}

/* FIXME: These should actually be h3 */
#main .box > a > div > h2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    margin-top: 6px;
}

#main .box > a > div > p:first-child {
    margin-top: 12px;
}

#preview-marker {
    background: red;
    foreground: black;
    position: fixed;
    top: 3px;
    right: 3px;
    border: solid black 2px;
    padding: 4px;
    font-size: 12pt;
}