<div class="thumbnail-image">
  <img ng-src="/image/{{image.id}}?thumbnail=1" width="{{image.thumbnailWidth}}" height="{{image.thumbnailHeight}}"/>
  <div class="actions">
    <button x-ng-click="deleteImage()" class="image-button" tooltip="Löschen"><i class="icon-trash"></i></button><br/>
    <button x-ng-click="editCredits()" class="image-button" tooltip="Credits"><i class="icon-pencil"></i></button><br/>
    <button x-ng-click="zoom()" class="image-button" tooltip="Zoom"><i class="icon-zoom-in"></i></button>
  </div>
</div>
