<div class="controls">
  <div class="input-prepend input-append">
    <span class="add-on">Datum</span>
    <input type="text" class="input-small" ng-model="date" data-date-format="dd.mm.yyyy" bs-datepicker required>
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>
  &nbsp;&nbsp;
  <div class="input-prepend input-append">
    <span class="add-on">Uhrzeit</span>
    <input type="text" class="input-small" ng-model="time" ng-value="'20:00'" timepicker required>
    <span class="add-on"><i class="icon-time"></i></span>
  </div>
</div>
