<ul class="events big-list">
  <li class="event" ng-repeat="event in events">
    <ticket-link for="event"></ticket-link>
    <a ng-href="{{event.link}}">
      <div class="date">{{event.date | formatDate:"dddd"}}<br/>{{event.date | formatDate:"Do MMMM"}}<br/>{{event.date | formatDate:"H:mm"}} Uhr</div>
      <div class="big-column">
        <div class="item-tags">{{event.getTags() | join:" / " }}</div>
        <div ng-show="event.premiere_notice" class="item-premiere-notice">{{event.premiere_notice}}</div>
        <div class="item-name">{{event.name}}</div>
        <div class="item-by" ng-bind-html-unsafe="event.by | translate | orSpace"></div>
      </div>
    </a>
  </li>
</ul>

