<div ng-class="{'non-empty': for.length > 0}">
  <div ng-repeat="item in for">
    <a href="{{item.link}}">
      <div ng-show="item.images.length">
        <div class="img-wrapper">
          <backend-image image="item.images[0]"></backend-image>
        </div>
        <div class="h2-with-img"><h2 class="sidebar-box">{{item.name | translate}}</h2></div>
      </div>
      <div ng-hide="item.images.length || (item.contents | translate | onlyTeaser)">
        <div class="sidebar-box-wrapper"><h2 class="sidebar-box">{{item.name | translate}}</h2></div>
      </div>
      <div ng-hide="item.images.length || !(item.contents | translate | onlyTeaser)">
        <h2>{{item.name | translate}}</h2>
        <div ng-bind-html-unsafe="item.contents | translate | onlyTeaser"></div>
      </div>
    </a>
  </div>
</div>
