<h1 class="page-title">Künstlerinnen</h1>
<ul class="hor-list kuenstlerinnen-letters">
  <li ng-repeat="letterPresent in letters" ng-hide="$index < letters.offset">
    <a ng-show="letterPresent" href="/kuenstlerinnen/{{$index | fromCharCode}}">{{$index | fromCharCode}}</a>
    <span ng-hide="letterPresent" class="muted">{{$index | fromCharCode}}</span>
  </li>
</ul>
<ul class="big-list kuenstlerinnen">
  <li ng-repeat="person in people | orderBy:'name'">
    <a href="/person/{{person.link}}">
      <div class="image-container">
        <thumbnail for="person" />
      </div>
      <div class="item-name">{{person.name}}</div>
    </a>
  </li>
</ul>
