<h1 class="page-title">Künstlerinnen</h1>
<ul class="hor-list">
  <li><a>A</a></li>
  <li><a>B</a></li>
  <li><a>C</a></li>
  <li><a>D</a></li>
  <li><a>E</a></li>
  <li><a>F</a></li>
  <li><a>G</a></li>
  <li><a>H</a></li>
  <li><a>I</a></li>
  <li><a>J</a></li>
  <li><a>K</a></li>
  <li><a>L</a></li>
  <li><a>M</a></li>
  <li><a>N</a></li>
  <li><a>O</a></li>
  <li><a>P</a></li>
  <li><a>Q</a></li>
  <li><a>R</a></li>
  <li><a>S</a></li>
  <li><a>T</a></li>
  <li><a>U</a></li>
  <li><a>V</a></li>
  <li><a>W</a></li>
  <li><a>X</a></li>
  <li><a>Y</a></li>
  <li><a>Z</a></li>
</ul>
<ul class="big-list kuenstlerinnen">
  <li ng-repeat="person in people | orderBy:'name'">
    <a href="/person/{{person.link}}">
      <div class="image-container">
        <img ng-src="/image/{{person.images[0].name}}?thumbnail=1"/>
      </div>
      <div class="item-name">{{person.name}}</div>
    </a>
  </li>
</ul>
