<div class="piece-sidebar">
  <span>
    <div ng-repeat="rolePeople in rolesPeople">
      <em>{{rolePeople.role}}</em>
      <ul class="participants-list">
        <li ng-repeat="person in rolePeople.people">
          <a ng-show="person.person" href="/person/{{person.link}}">{{person.name}}</a>
          <span ng-hide="person.person">{{person.name}}</span>
        </li>
      </ul>
    </div>
  </span>
  <span ng-bind-html-unsafe="for.sponsors | translate" />
  <p>&nbsp;</p>
  <span ng-show="for.premiere"><p class="for-premiere">Uraufführung {{for.premiere | toDate}}</p></span>
</div>
