<div class="piece-details">
  <media-browser model="piece"></media-browser>
  <p class="item-tags" ng-bind-html-unsafe="piece.tags | join:' / '"></p>
  <div class="item-name-wrapper">
    <h1 class="item-name">{{piece.name}}</h1>
    <a href="{{piece.ticketLink}}" class="ticket-shop ir" target="_new">Ticket kaufen</a>
  </div>
  <div class="item-meta">
    <span class="item-by" ng-bind-html-unsafe="piece.by.de"></span>
    <span ng-transclude/>
  </div>
  <p ng-bind-html-unsafe="piece.description.de"></p>
</div>
