<h1 class="page-title">Repertoire</h1>
<div class="hor-list-space" />
<ul class="repertoire big-list">
  <li class="piece" ng-repeat="piece in pieces | orderBy:'premiere'">
    <a href="/stueck/{{piece.link}}">
      <div class="image-container">
        <img ng-src="/image/{{piece.images[0].name}}?thumbnail=1"/>
      </div>
      <div class="item-tags">{{piece.tags | join:" / " | orSpace}}</div>
      <div class="item-name">{{piece.name}}</div>
      <div class="by" ng-bind-html-unsafe="piece.by.de | orSpace"></div>
    </a>
  </li>
</ul>
