<div class="spielplan">
  <h2>Spielplan</h2>
  <ul class="months">
    <li ng-repeat="month in months"><a href="/spielplan/{{month.key}}">{{month.name}}</a></li>
  </ul>
  <ul class="events">
    <li class="event" ng-repeat="event in events">
      <a class="ticket-shop ir">Ticket kaufen</a>
      <a ng-href="{{event.link}}">
        <div class="date">{{event.weekday}}<br/>{{event.date}}<br/>{{event.time}} Uhr</div>
        <div class="tags">{{event.tags}}</div>
        <div class="event-name">{{event.name}}</div>
        <div class="by" ng-bind-html-unsafe="translate(event.by)"></div>
      </a>
    </li>
  </ul>
</div>
