<h1 class="page-title">Spielplan</h1>
<ul class="hor-list">
  <li ng-repeat="month in months">
    <a class="{{month.curClass}}" href="/spielplan/{{month.key}}">{{month.name}}</a>
  </li>
</ul>
<ul class="events big-list">
  <li class="event" ng-repeat="event in events">
    <a href="{{event.ticketLink}}" class="ticket-shop ir" target="_new">Ticket kaufen</a>
    <a ng-href="{{event.link}}">
      <div class="date">{{event.weekday}}<br/>{{event.date}}<br/>{{event.time}} Uhr</div>
      <div class="big-column">
        <div class="item-tags">{{event.tags | join:" / " | orSpace }}</div>
        <div class="item-name">{{event.name}}</div>
        <div class="item-by" ng-bind-html-unsafe="event.by | translate | orSpace"></div>
      </div>
    </a>
  </li>
</ul>
