<form>
  <div id="event">
    <table class="cms-table table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>Stück</th>
          <td><ref object="enactment.piece"/></td>
        </tr>
        <tr>
          <th>Preview</th>
          <td colspan="2">
            <preview-link prefix="/auffuehrung/" object="enactment"><preview-link>
          </td>
        </tr>
        <tr>
          <th>Wann</th>
          <td colspan="2">
            <date-time-picker ng-model="enactment.date"/>
          </td>
        </tr>
        <tr>
          <th>Ticket</th>
          <td colspan="2">
            <ticket-link model="enactment"/>
          </td>
        </tr>
        <tr>
          <th>Text/Beschreibung</th>
          <td><optional-text model="enactment.description.de" rows="20"/></td>
          <td><optional-text model="enactment.description.en" rows="20"/></td>
        </tr>
        <tr>
          <th>Mitwirkende / Künstlerliste</th>
          <td colspan="2">
            <participant-editor model="enactment.participants"/>
          </td>
        </tr>
        <tr>
          <th>Intern</th>
          <td><optional-text model="enactment.intern" rows="10"/></td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>
  <div>
    <button class="btn btn-small btn-danger" ng-click="deleteEnactment()">Aufführung löschen</button>
    <button class="btn btn-small btn-success" ng-disabled="!hasChanged()" ng-click="saveChanges()">Online stellen</button>
    <button class="btn btn-small btn-danger" ng-disabled="!hasChanged()" ng-click="discardChanges()">Änderungen verwerfen</button>
  </div>
</form>
