<form>
  <div id="event">
    <table class="cms-table table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>Intern</th>
          <td colspan="2"><input type="text" class="input-xxlarge" ng-model="event.intern"/><br/></td>
        </tr>
        <tr><td colspan="3"></td></tr>
        <tr>
          <th>Titel</th>
          <td colspan="2"><input type="text" class="input-xxlarge" ng-model="event.name"/></td>
        </tr>
        <tr>
          <th>Preview</th>
          <td colspan="2">
            <preview-link prefix="/veranstaltung/" object="event"><preview-link>
          </td>
        </tr>
        <tr data-bind="category">
          <th>Kategorie</th>
          <td colspan="2">
            <tag-selector model="event.tags"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <th>deutsch</th>
          <th>english</th>
        </tr>
        <tr>
          <th rowspan=2>Was / von</th>
          <td><optional-text model="event.by.de"/></td>
          <td><optional-text model="event.by.en"/></td>
        </tr>
        <tr>
          <th>Wann</th>
          <td colspan="2">
            <date-time-picker ng-model="event.date"/>
          </td>
        </tr>
        <tr>
          <th>Eintrittspreise</th>
          <td colspan="2">
            <price-inputs model="event"/>
          </td>
        </tr>
        <tr>
          <th>Ticket</th>
          <td colspan="2">
            <ticket-link model="event"/>
          </td>
        </tr>
        <tr>
          <th>Fotos</th>
          <td colspan="2">
            <image-gallery-uploader images="event.images"/>
          </td>
        </tr>
        <tr>
          <th>Trailer/Video</th>
          <td colspan="2">
            <video-selector model="event.video"/>
          </td>
        </tr>
        <tr>
          <th>Text/Beschreibung</th>
          <td><optional-text model="event.description.de" rows="20"/></td>
          <td><optional-text model="event.description.en" rows="20"/></td>
        </tr>
        <tr>
          <th>Mitwirkende / Künstlerliste</th>
          <td colspan="2">
            <participant-editor model="event.participants"/>
          </td>
        </tr>
        <tr>
          <th>Credit-Text / Förderer / etc.</th>
          <td><optional-text model="event.sponsors.de"/></td>
          <td><optional-text model="event.sponsors.en"/></td>
        </tr>
        <tr>
          <th>Presse</th>
          <td colspan="2">
            <pdf-uploader model="event.presse"/>
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>
  <div>
    <button class="btn btn-small btn-danger" ng-click="deleteEvent()">Veranstaltung löschen</button>
    <button class="btn btn-small btn-success" ng-disabled="!hasChanged()" ng-click="saveChanges()">Online stellen</button>
    <button class="btn btn-small btn-danger" ng-disabled="!hasChanged()" ng-click="discardChanges()">Änderungen verwerfen</button>
  </div>
</form>
