<h2>Homepage bearbeiten</h2>
<p>Link: <preview-link prefix="/"></preview-link></p>
<div>
  <h3>Layout auswählen</h3>
  <div ng-model="homepage.layout" class="homepage-layout" bs-tabs>
    <div data-tab="Zweispaltig">
      <table>
        <tr>
          <td>Nächste Aufführung</td>
          <td><box-contents-selector model="homepage.box[0]"></box-contents-selector></td>
        </tr>
        <tr>
          <td><box-contents-selector model="homepage.box[1]"></box-contents-selector></td>
          <td><box-contents-selector model="homepage.box[2]"></box-contents-selector></td>
        </tr>
        <tr>
          <td><box-contents-selector model="homepage.box[3]"></box-contents-selector></td>
          <td><box-contents-selector model="homepage.box[4]"></box-contents-selector></td>
        </tr>
      </table>
    </div>
    <div data-tab="Ein- und Zweispaltig">
      <table>
        <tr>
          <td colspan="2"><box-contents-selector model="homepage.box[0]"></box-contents-selector></td>
        </tr>
        <tr>
          <td>Nächste Aufführung</td>
          <td><box-contents-selector model="homepage.box[1]"></box-contents-selector></td>
        </tr>
        <tr>
          <td><box-contents-selector model="homepage.box[2]"></box-contents-selector></td>
          <td><box-contents-selector model="homepage.box[3]"></box-contents-selector></td>
        </tr>
      </table>
    </div>
    <div data-tab="Theaterferien">
      <table>
        <tr>
          <td><box-contents-selector model="homepage.box[0]"></box-contents-selector></td>
          <td><box-contents-selector model="homepage.box[1]"></box-contents-selector></td>
        </tr>
        <tr>
          <td><box-contents-selector model="homepage.box[2]"></box-contents-selector></td>
          <td><box-contents-selector model="homepage.box[3]"></box-contents-selector></td>
        </tr>
        <tr>
          <td><box-contents-selector model="homepage.box[4]"></box-contents-selector></td>
          <td><box-contents-selector model="homepage.box[5]"></box-contents-selector></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div>
  <h3>Content für Marginalspalte</h3>
  <fieldset>
    <legend>Erster Eintrag</legend>
    <box-contents-selector model="homepage.marginal[0]"></box-contents-selector>
  </fieldset>
  <fieldset>
    <legend>Zweiter Eintrag</legend>
    <box-contents-selector model="homepage.marginal[1]"></box-contents-selector>
  </fieldset>
  <fieldset>
    <legend>Dritter Eintrag</legend>
    <box-contents-selector model="homepage.marginal[2]"></box-contents-selector>
  </fieldset>
</div>
<div>
  <button class="btn btn-small btn-success" ng-disabled="!hasChanged()" ng-click="saveChanges()">Online stellen</button>
  <button class="btn btn-small btn-danger" ng-disabled="!hasChanged()" ng-click="discardChanges()">Änderungen verwerfen</button>
</div>
