<div>
  <ul class="edit-menu">
    <span>Programm</span><br/>
    <ul>
      <li><span>Spielplan</span></li>
      <li><span>Repertoire</span></li>
      <li><page-edit-ref name="Reihen"/></li>
      <li><span>Archiv</span></li>
    </ul>
    <span>Künstlerinnen</span><br/>
    <li><page-edit-ref name="Haus" /><li>
    <ul>
      <li><page-edit-ref name="Geschichte"/></li>
      <li><page-edit-ref name="Team"/></li>
      <li><page-edit-ref name="Auszeichnungen" /></li>
      <li><page-edit-ref name="Postmigranten on Tour"/></li>
      <li><page-edit-ref name="Partner"/></li>
    </ul>
    <li><page-edit-ref name="Tickets"/></li>
    <span>Presse</span>
    <ul>
      <li><page-edit-ref name="Pressemitteilungen"/></li>
      <li><page-edit-ref name="Bildmaterial"/></li>
    </ul>
    <br/>
    <li><page-edit-ref name="Impressum"/></li>
    <li><page-edit-ref name="Kontakt"/></li>
  </ul>
</div>
<hr/>
<div class="actions control-group">
  <button ng-click="newPage()" class="btn btn-small btn-primary">Neue Seite</button>
</div>
<h3>Alle Seiten</h3>
<ul class="data">
  <li ng-repeat="page in db.pages() | orderBy:'name'">
    {{page.path}} <ref object="page"/>
  </li>
</ul>
</div>
