<page-directory>
  <div>
    <ul class="edit-menu">
      <span>Programm</span><br/>
      <ul>
        <li><span>Spielplan</span></li>
        <li><span>Repertoire</span></li>
        <li><page-edit-ref page="reihen"/></li>
        <li><span>Archiv</span></li>
      </ul>
      <span>Künstlerinnen</span><br/>
      <li><page-edit-ref page="haus" /><li>
        <ul>
          <li><page-edit-ref page="geschichte"/></li>
          <li><page-edit-ref page="team"/></li>
          <li><page-edit-ref page="technik"/></li>
          <li><page-edit-ref page="auszeichnungen" /></li>
          <li><page-edit-ref page="postmigranten_on_tour"/></li>
          <li><page-edit-ref page="partner"/></li>
          <li><page-edit-ref page="freundeskreis"/></li>
        </ul>
      <li><page-edit-ref page="tickets"/></li>
      <li><page-edit-ref page="presse" /><li>
        <ul>
          <li><page-edit-ref page="pressemitteilungen"/></li>
          <li><page-edit-ref page="bildmaterial"/></li>
        </ul>
      </li>
      <br/>
      <li><page-edit-ref page="impressum"/></li>
      <li><page-edit-ref page="kontakt"/></li>
      <br/>
      <li><page-edit-ref page="english"/></li>
    </ul>
  </div>
  <hr/>
  <h3>Weitere Seiten</h3>
  <p>
    <ul class="data">
      <li ng-repeat="page in freePages">
        <page-edit-ref page="{{page}}"/>
      </li>
    </ul>
  </p>
  <div class="actions control-group">
    <button ng-click="newPage()" class="btn btn-small btn-primary">Neue Seite</button>
  </div>
<page-directory>
