<form>
  <div id="page">
    <table class="cms-table table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <td></td>
          <th>deutsch</th>
          <th>english</th>
        </tr>
        <tr>
          <th>Titel</th>
          <td><input type="text" class="input-xxlarge" ng-model="page.name.de"/></td>
          <td><input type="text" class="input-xxlarge" ng-model="page.name.en"/></td>
        </tr>
        <tr>
          <th>Preview</th>
          <td colspan="2">
            <preview-link prefix="/" object="page"><preview-link>
          </td>
        </tr>
        <tr>
          <th>Text</th>
          <td><optional-text model="page.contents.de" rows="20"/></td>
          <td><optional-text model="page.contents.en" rows="20"/></td>
        </tr>
        <tr>
          <td></td>
          <td class="edit-note" colspan=2>Ende des Teasertext mit &#1757; markieren!</td>
        </tr>
        <tr>
          <th>Fotos</th>
          <td colspan="2">
            <image-gallery-uploader images="page.images"/>
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>
  <div>
    <button ng-disabled="page.linkedFromMenu" class="btn btn-small btn-danger" ng-click="deletePage()">Seite löschen</button>
    <button class="btn btn-small btn-success" ng-disabled="!hasChanged()" ng-click="saveChanges()">Online stellen</button>
    <button class="btn btn-small btn-danger" ng-disabled="!hasChanged()" ng-click="discardChanges()">Änderungen verwerfen</button>
  </div>
</form>
