<form ng-controller="EditPersonController">
  <table class="cms-table table table-striped table-bordered table-condensed">
    <tbody>
      <tr>
        <th>Name</th>
        <td><input class="input-xxlarge" ng-model="person.name"/></td>
      </tr>
      <tr>
        <th>Preview</th>
        <td colspan="2">
          <preview-link prefix="/person/" object="person"><preview-link>
        </td>
      </tr>
      <tr>
        <th>Bild</th>
        <td>
          <image-gallery-uploader images="person.images"/>
        </td>
      </tr>
      <tr>
        <td></td>
        <th>deutsch</th>
        <th>english</th>
      </tr>
      <tr>
        <th>Bio</th>
        <td><optional-text model="person.bio.de" rows="20"/></td>
        <td><optional-text model="person.bio.en" rows="20"/></td>
      </tr>
      <tr data-bind="appearence">
        <th>Mitwirkung</th>
        <td colspan="2">
          <ul>
            <li ng-repeat="participation in person.participations">
              <a href="{{participation.inWhat.cmsLink()}}">{{participation.inWhat.title()}}</a> {{participation.role}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-small btn-danger" ng-click="deletePerson()">Eintrag löschen</button>
    <button class="btn btn-small btn-success" ng-disabled="!hasChanged()" ng-click="saveChanges()">Online stellen</button>
    <button class="btn btn-small btn-danger" ng-disabled="!hasChanged()" ng-click="discardChanges()">Änderungen verwerfen</button>
  </div>
</form>
