<form>
  <div id="piece">
    <table class="cms-table table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>Intern</th>
          <td colspan="2"><input type="text" class="input-xxlarge" ng-model="piece.intern"/><br/></td>
        </tr>
        <tr><td colspan="3"></td></tr>
        <tr>
          <th>Titel</th>
          <td colspan="2"><input class="input-xxlarge" ng-model="piece.name"/></td>
        </tr>
        <tr>
          <th>Link</th>
          <td colspan="2">
            <preview-link prefix="/stueck/" object="piece"><preview-link>
          </td>
        </tr>
        <tr data-bind="category">
          <th>Kategorie</th>
          <td colspan="2">
            <tag-selector model="piece.tags"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <th>deutsch</th>
          <th>english</th>
        </tr>
        <tr>
          <th>Was / von</th>
          <td><optional-text model="piece.by.de"/></td>
          <td><optional-text model="piece.by.en"/></td>
        </tr>
        <tr>
          <th>Uraufführung</th>
          <td colspan="2">
            <date-input model="piece.premiere"></date-input>
            <input type="checkbox" ng-model="piece.repertoire"/> Repertoire
          </td>
        </tr>
        <tr>
          <th></th>
          <td colspan="2">
            <input type="checkbox" ng-model="piece.english_surtitles"/>
            English Surtitles
          </td>
        </tr>
        <tr>
          <th>Eintrittspreise</th>
          <td colspan="2">
            <price-inputs model="piece"/>
          </td>
        </tr>
        <tr>
          <th>Aufführungen</th>
          <td colspan="2">
            <ul>
              <li ng-repeat="enactment in piece.enactments | orderBy:'date'">
                <ref object="enactment" title="enactment.date | date:'dd.MM.yyyy HH:mm'"/>
              </li>
            </ul>
            <button ng-click="newEnactment(piece)" class="btn btn-small btn-primary">Aufführung planen</button>
          </td>
        </tr>
        <tr>
          <th>Fotos</th>
          <td colspan="2">
            <image-gallery-uploader images="piece.images"/>
          </td>
        </tr>
        <tr>
          <th>Flickr Set</th>
          <td colspan="2">
            <flickr-set-selector set="piece.flickrSet" images="piece.images"/>
          </td>
        </tr>
        <tr>
          <th>Trailer/Video</th>
          <td colspan="2">
            <video-selector model="piece.video"/>
          </td>
        </tr>
        <tr>
          <th>Text/Beschreibung</th>
          <td><optional-text model="piece.description.de" rows="20"/></td>
          <td><optional-text model="piece.description.en" rows="20"/></td>
        </tr>
        <tr>
          <td></td>
          <td class="edit-note" colspan=2>Ende des Teasertext in der Beschreibung mit &#1757; markieren oder alternativ Teasertext eingeben!</td>
        </tr>
        <tr>
          <th>Teasertext</th>
          <td><optional-text model="piece.teaser.de" rows="20"/></td>
          <td><optional-text model="piece.teaser.en" rows="20"/></td>
        </tr>
        <tr>
          <th>Mitwirkende / Künstlerliste</th>
          <td colspan="2">
            <participant-editor model="piece"/>
          </td>
        </tr>
        <tr>
          <th>Credit-Text / Förderer / etc.</th>
          <td><optional-text model="piece.sponsors.de"/></td>
          <td><optional-text model="piece.sponsors.en"/></td>
        </tr>
        <tr>
          <th>Presse</th>
          <td colspan="2">
            <pdf-uploader model="piece.presse"/>
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>
  <div id="enactment">
  </div>
  <div>
    <button class="btn btn-small btn-danger" ng-click="deletePiece()">Stück löschen</button>
    <button class="btn btn-small btn-success" ng-disabled="!hasChanged()" ng-click="saveChanges()">Online stellen</button>
    <button class="btn btn-small btn-danger" ng-disabled="!hasChanged()" ng-click="discardChanges()">Änderungen verwerfen</button>
  </div>
</form>
