<div class="input-prepend input-append">
  <span class="add-on">Normal:</span>
  <input type="text" ng-model="object.priceNormal" class="input-mini span1">
  <span class="add-on">€</span>
</div>
&nbsp;&nbsp;
<div class="input-prepend input-append">
  <span class="add-on">Ermäßigt:</span>
  <input type="text" ng-model="object.priceReduced" class="input-mini span1">
  <span class="add-on">€</span>
</div>
&nbsp;&nbsp;&nbsp;
<label class="checkbox">
  <input type="checkbox" ng-model="object.freeEntry"/> Eintritt frei
</label>
